@import "vars.scss";

body {
  margin: 0px;
  font-family: $font;
  font-size: 14px;
  color: $color-gray-dark;
}

// Grid
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .col-#{$i} { grid-column: span $i; }
}

@media (max-width: 600px) {
  [class*='col-'] {
    grid-column: span 12;
  }
}

// Container
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }         
}

// Padding
@for $i from 1 through 5 {
  $size: $i * 5;
  .p-#{$i} { padding: #{$size}px; }
  .pt-#{$i} { padding-top: #{$size}px; }
  .pr-#{$i} { padding-right: #{$size}px; }
  .pb-#{$i} { padding-bottom: #{$size}px; }
  .pl-#{$i} { padding-left: #{$size}px; }
}

// Align
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

