.table {
  border-spacing: 0px;
}

.table th, td  {
  padding: 7px;
  text-align: left;
}

.table thead th  {
  border-bottom: 1px solid $color-gray-dark;
}

.table tbody tr:hover {
  background-color: $color-gray !important;
}

.table tbody tr:nth-child(odd)  {
  background-color: $color-gray-light;
}
