
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }         
}

.fill { width: 100%; }

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.label { 
  font-size: 0.9rem;
  line-height: 20px;
  &-danger { color: $color-danger; }
}

@for $i from 1 through 5 {
  $size: $i * 5;
  .p-#{$i} { padding: #{$size}px; }
  .pt-#{$i} { padding-top: #{$size}px; }
  .pr-#{$i} { padding-right: #{$size}px; }
  .pb-#{$i} { padding-bottom: #{$size}px; }
  .pl-#{$i} { padding-left: #{$size}px; }
}
