
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .col-#{$i} { grid-column: span $i; }
}

@media (max-width: 600px) {
  [class*='col-'] {
    grid-column: span 12;
  }
}
